 <div class="weather-day__head">
    <p>時刻</p><p>天気</p><p>気温</p>
  </div>
 <div class="weather-day__body">
   <% @array.each do |text| %>
    <div class="weather-day__item">
      <p class="weather-day__time">00:00</p>
      <p class="weather-day__icon"><img src="//smtgvs.weathernews.jp/onebox/img/wxicon/200.png"><%=  text %></p>
      <p class="weather-day__t">15℃</p>
    </div>
    <% end %>
  </div>





