<footer class="footer fixed-bottom">
    <div class="container fluid">
        <div class="row text-center">
            <div class="col-12 text-center">
                <p class="text-left"><i class="fas fa-info-circle"></i>このサイトは@niftu天気予報、日本気象協会 tanki.jp、Yahoo!天気・災害 からデータを収集してお天気情報の平均値を表示しています。</p>
                <h5>&copy; nikuya<a href="https://twitter.com/nikya198" target="_blank"><i class="fab fa-twitter"></i></a></h5>
            </div>
        </div>
    </div>
</footer>